language: python

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

dist: xenial

install:
  - pip install .
  - pip install investpy[tests]

script:
  - pytest --cov-report term --cov=investpy tests/

after_success:
  - codecov
